$font-main: 'Cabin', sans-serif;
$font-heading: 'Fira Sans', sans-serif;

$color-bg: #ffffaa;
$color-heading: #000040;
$color-accent: #ffaaff;

$border-darker: black;
$border-dark: #555;
$border-light: #aaa;
$border-lighter: white;


* {
    font-family: $font-main;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

body {
    background-color: $color-bg;
}

h1 {
    font-size: 60px;
    color: $color-bg;
}

h2 {
    font-size: 32px;
    color: $color-accent;
}

img {
    border: 1px solid $border-darker;
}

a:hover {
    cursor: pointer;
}



.jumbotron {
    background-color: $color-heading;
    padding-bottom: 75px;
}

.row {
    padding-bottom: 10px;
    padding-top: 10px;
}