@use "base" as *;

@mixin border-lbr($color) {
    border-left: $color;
    border-bottom: $color;
    border-right: $color;
}

.projects {
    h2 {
        width: 100%;
        text-align: center;
        margin: 10px auto;
        padding-bottom: 5px;
        border-bottom: 1px solid $border-light;
        color: black;
    }
}

.portfolio-header {
    position: relative;
    width: 70%;
    margin: 0 auto;
    @include border-lbr(1px solid white);
    padding: 10px;
}

.name-and-title {
    text-align: center;
}

.current-photo {
    position: absolute;
    bottom: -70px;
    right: -100px;

    img {
        border: 2px solid $border-lighter;
        border-radius: 75px;
    }
}

.header-navigation {
    width: 400px;
    border: 2px solid $border-light;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    bottom: -57px;
    left: -100px;
}





@media screen and (max-width: 992px) {
    .portfolio-header {
        padding: 15px;
    }
    
    .name-and-title {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    %container-static {
        position: static;
        display: block;
        margin: 0 auto;
    }

    .jumbotron {
        padding-bottom: 15px;
    }

    .portfolio-header {
        width: 100%;
    }

    .current-photo {
        @extend %container-static;
        margin-bottom: 15px;

        img {
            @extend %container-static;
            margin-bottom: 15px;
        }
    }

    .header-navigation {
        @extend %container-static;
        width: 90%;
        border: 2px solid $border-light;
        border-radius: 0;
        padding-left: 0;
        padding: 5px;
        text-align: center;
    }

    .name-and-title {
        text-align: center;
    }
}